Inventario/Connected Services/WiGoServiceReference/WiGoService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="GetData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="controller" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="model" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="filters" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetDataResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExecuteProcedure">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="controller" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="model" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="qtype" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="datos" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExecuteProcedureResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ExecuteProcedureResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>